# .htaccess

RewriteEngine On
RewriteBase /

# إخفاء امتداد .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# منع الوصول المباشر لملفات .html إذا لم ترغب في أن يتم الوصول إليها بالامتداد
# هذا الخيار يمكن أن يسبب مشاكل إذا كنت تستخدم روابط مباشرة مع الامتداد
# RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
# RewriteRule ^(.*)\.html$ /$1 [R=301,L]
